<h2>Edit</h2>
{{#with room}}
 <div class="result-card highlight">
    <form action="/rooms/add" method="POST" class="form" enctype='multipart/form-data'>

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value= "{{name}}">

      <label for="description">Description</label>
      <input type="text" name="description" id="description" value="{{description}}">

      <label for="">Price</label>
      <input type="text" name= "price" value="{{price}}">

      <label for="image">Add image</label>
      <input type="file" name="image" id="image" accept="image/*" >
{{/with}}
    <label for="owner">Owner</label>
      <select name="owner" >
          {{!-- {{#each owners}}
                  {{{selector ../room}}}
          {{/each}} --}}
          {{{options}}}
      </select>
      
       <button type="submit" >Save</button>
    </form>
</div>